/* Print View Fix
@media (max-width: 793px) {} */

@media (max-width:768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-dropDownMenu {
        margin: auto;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .header-dropDownMenu a,
    .header-dropDownMenu select {
        line-height: 50px;
        width: 250px;
        height: 50px;
    }

    .col-nomor {
        width: 10%;
        margin-right: -10px;
    }

    .col-pelajaran {
        width: 25%;
    }


}

@media (max-width:425px) {
    .header-dropDownMenu {
        flex-direction: column-reverse;

    }

    .header-dropDownMenu select {
        margin: 15px 0;
    }

    main {
        overflow-x: hidden;
    }

    .table {
        width: 100%;

    }

    .raport {
        overflow: scroll;

    }

    .scroll {
        margin-left: 0rem !important;
        width: 200%;
        padding-left: 10px;

    }

}
